@{
    ViewBag.Title = "GeologicInformation";
}

<h1>ePermit</h1>

<article>

    <h2 data-submenu="4">Geologic Information</h2>

    @* geologic description attachments*@

    <fieldset class="setapart">
        <legend>Geologic Description Attachments</legend>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">My First Attachment File.pdf</a></td>
                    <td>3/26/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">My Second Attachment File.pdf</a></td>
                    <td>7/18/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" style="text-align: right;">
            <button class="tertiary"><span class="plussymbol">+</span>&nbsp;Add New</button>
        </div>
        <br />
    </fieldset>

    @*lithologic and geophysical logs attachments*@

    <fieldset class="setapart">
        <legend>Lithologic and Geophysical Logs Attachments</legend>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">My First Attachment File.pdf</a></td>
                    <td>3/26/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">My Second Attachment File.pdf</a></td>
                    <td>7/18/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" style="text-align: right;">
            <button class="tertiary"><span class="plussymbol">+</span>&nbsp;Add New</button>
        </div>
        <br />
    </fieldset>

    @*overburden analysis and suitability attachments*@

    <fieldset class="setapart">
        <legend>Overburden Analysis and Suitability Attachments</legend>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">My First Attachment File.pdf</a></td>
                    <td>3/26/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">My Second Attachment File.pdf</a></td>
                    <td>7/18/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" style="text-align: right;">
            <button class="tertiary"><span class="plussymbol">+</span>&nbsp;Add New</button>
        </div>
    </fieldset>
    <fieldset class="setapart">
        <p>
            Were any of the materials described above found to be potentially acid‐forming, toxic, or otherwise undersirable pursuant to<br />
            17.24.304(1)(g)(ii)?
        </p>
        <p>
            <input id="yes" type="radio" name="radios" value="yes" />Yes
     <input id="no" type="radio" name="radios" value="no" />No
        </p>
    </fieldset>
    @*coal seam geology and analysis attachments*@

    <fieldset class="setapart">
        <legend>Coal Seam Geology and Analysis Attachments</legend>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">My First Attachment File.pdf</a></td>
                    <td>3/26/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">My Second Attachment File.pdf</a></td>
                    <td>7/18/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" style="text-align: right;">
            <button class="tertiary"><span class="plussymbol">+</span>&nbsp;Add New</button>
        </div>
    </fieldset>

    @*additional information*@

    <fieldset class="setapart">
        <legend>Additional Information</legend>
        <p>Has any previous strip mining or underground mining been identified within the proposed mine plan area?</p>
        <p>
            <input id="yes" type="radio" name="radios" value="yes" />Yes
            <input id="no" type="radio" name="radios" value="no" />No
        </p>
        <h4>Attachments</h4>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">My First Attachment File.pdf</a></td>
                    <td>3/26/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">My Second Attachment File.pdf</a></td>
                    <td>7/18/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" style="text-align: right;">
            <button class="tertiary"><span class="plussymbol">+</span>&nbsp;Add New</button>
        </div>
    </fieldset>

    @* geologic cross sections and map layers and attachments*@

    <fieldset class="setapart">
        <legend>Geologic Cross Sections and Maps</legend>
        <h4>Required Map Layers:</h4>
        <div class="checkboxes">
            <div>
                <input disabled="disabled" type="checkbox" name="GeologicSections" id="maplayer1" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Geologic Cross Sections (17.24.322)</a>

                <br />
                <input disabled="disabled" type="checkbox" name="GeologicSections" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Test Bore Holes (17.24.322)</a>
               <br />

                <input disabled="disabled" type="checkbox" name="GeologicSections" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Coal Seam Isopach (17.24.322)</a>
               <br />

                <input disabled="disabled" type="checkbox" name="GeologicSections" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Overburden Isopach (17.24.322)</a>
               <br />

                <input disabled="disabled" type="checkbox" name="GeologicSections" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Interburden Isopach (17.24.322)</a>
                <br />
                <input disabled="disabled" type="checkbox" name="GeologicSections" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Coal Crop Lines (17.24.322)</a>
               <br />

                <input disabled="disabled" type="checkbox" name="GeologicSections" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Underground Mine Workings (17.24.322)</a>
                <br />

                <input disabled="disabled" type="checkbox" name="GeologicSections" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Historic Mining (17.24.322)</a>
               <br />

                <input disabled="disabled" type="checkbox" name="GeologicSections" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Unmined Coal (17.24.322)</a>
              
            </div>
        </div>

        <h4>Attachments</h4>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Satisfied Map Layers</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="@Url.Action("Maps", "ePermitMaps")">Geospread.pdf</a></td>
                    <td>
                        <select class="dropdownListMaps">
                            <option>Coal Seam Isopach (17.24.322)</option>
                            <option>Unmined Coal (17.24.322)</option>
                        </select>
                    </td>
                    <td>3/26/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="text-right" style="text-align: right;">
            <button class="modal22 tertiary" title="Add New Map"><span class="plussymbol">+</span>&nbsp;Add New</button>
            <div class="dialogbox22" style="display: none;" title="Add New Map">
                @Html.Partial("_addNewMap", false)
            </div>
        </div>
    </fieldset>
    <button value="Submit" id="ShowComments" title="Deficiency" class="CommentsButton Primary">Deficiency ▼</button>
    <div id="Comments" class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
    <button class="primary">Save</button>
    <button class="secondary">Reset</button>


</article>

