@{
    ViewBag.Title = "HydrologicInformation";
}


<h1>ePermit</h1>

<article>
    <h2 data-submenu="3">Hydrologic Information</h2>

    <fieldset class="setapart">
        <legend>Ground, surface, alternative Water Inventory Report(s) Attachments</legend>
        @Html.Partial("_attachmentTable")
    </fieldset>

    @*ground water inventory report attachments*@

    <fieldset class="setapart">
        <legend>Ground Water Inventory Report Attachments</legend>
        @Html.Partial("_attachmentTable")
    </fieldset>

    @* surface water inventory report attachments*@

    <fieldset class="setapart">
        <legend>Surface Water Inventory Report Attachments</legend>
        @Html.Partial("_attachmentTable")
    </fieldset>

    @*alternative water supplies attachments*@

    <fieldset class="setapart">
        <legend>Alternative Water Supplies Attachments</legend>
        @Html.Partial("_attachmentTable")
    </fieldset>

    @*additional information attachments*@

    <fieldset class="setapart">
        <legend>Additional Information Attachments</legend>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">My First Attachment File.pdf</a></td>
                    <td>3/26/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">My Second Attachment File.pdf</a></td>
                    <td>7/18/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" style="text-align: right;">
            <button class="tertiary"><span class="plussymbol">+</span>&nbsp;Add New</button>
        </div>
    </fieldset>

    @*hydrologic information maps and attachments*@

    <fieldset class="setapart">
        <legend>Hydrologic Information Maps</legend>
        <h4>Required Map Layers: </h4>
        <div class="checkboxes">
            <input disabled="disabled" type="checkbox" name="HydroInfoMaps" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Lakes, Impoundments, Ponds, Dams, Traps, Reservoirs (17.24.304(1)(f)(ii)(A))</a>
            <br />
            <input disabled="disabled" type="checkbox" name="HydroInfoMaps" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Isopach Layers (17.24.304(1)(f))</a>
            <br />
            <input disabled="disabled" type="checkbox" name="HydroInfoMaps" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Contour Layers (17.24.304(1)(f))</a>
            <br />
            <input disabled="disabled" type="checkbox" name="HydroInfoMaps" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Groundwater Monitoring Wells (17.24.304(1)(f))</a>
            <br />
            <input disabled="disabled" type="checkbox" name="HydroInfoMaps" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Water Supply Wells (17.24.304(1)(f))</a>
            <br />
            <input disabled="disabled" type="checkbox" name="HydroInfoMaps" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Springs (17.24.322)</a>
            <br />
            <input disabled="disabled" type="checkbox" name="HydroInfoMaps" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Premine Streams (17.24.304(1)(f))</a>
            <br />
            <input disabled="disabled" type="checkbox" name="HydroInfoMaps" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Irrigation Ditches (17.24.304(1)(f))</a>
            <br />
            <input disabled="disabled" type="checkbox" name="HydroInfoMaps" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Diversions (17.24.304(1)(f))</a>
            <br />
            <input disabled="disabled" type="checkbox" name="HydroInfoMaps" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Alternative Water Supplies (17.24.304(1)(f))</a>
            <br />
            <input disabled="disabled" type="checkbox" name="HydroInfoMaps" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Surface Water Monitoring Stations (17.24.304(1)(f))</a>
        </div>
        <h4>Attachments</h4>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Satisfied Map Layers</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="@Url.Action("Maps", "ePermitMaps")">Countour.pdf</a></td>
                    <td>
                        <select class="dropdownListMaps">
                            <option>Contour Layers (17.24.304(1)(f))</option>
                            <option>Groundwater Monitoring Wells (17.24.304(1)(f)</option>
                        </select>
                    </td>
                    <td>3/26/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Maps", "ePermitMaps")">AlternativeWater.pdf</a></td>
                    <td>
                        <select class="dropdownListMaps">
                            <option>Alternative Water Supplies (17.24.304(1)(f)) </option>
                        </select>
                    </td>
                    <td>3/26/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td><a href="@Url.Action("Maps", "ePermitMaps")">Surfacewater.pdf</a></td>
                    <td>
                        <select class="dropdownListMaps">
                            <option>Springs (17.24.322)</option>
                            <option>Surface Water Monitoring Stations (17.24.304(1)(f))</option>
                        </select>
                    </td>
                    <td>3/26/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="text-right" style="text-align: right;">
            <button class="modal22 tertiary" title="Add New Map"><span class="plussymbol">+</span>&nbsp;Add New</button>
            <div class="dialogbox22" style="display: none;" title="Add New Map">
                @Html.Partial("_addNewMap", false)
            </div>
        </div>
    </fieldset>
    <button value="Submit" id="ShowComments" title="Deficiency" class="CommentsButton Primary">Deficiency ▼</button>
    <div id="Comments" class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
    <p>&nbsp;</p>

</article>

