<aside class="subnav">
    <ul class="subnav">
        <li>
			<ul id="menu" class="nav1">
				<li>
                    @Html.ActionLink("Admin", "ApplicationForm", "ePermitAdmin")
					<ul class="nav2 admin" style="overflow: hidden; display: none;">
						<li> 
							@Html.ActionLink("Application Form / Verification", "ApplicationForm", "ePermitAdmin")						 
						</li>
						<li> 
							@Html.ActionLink("Contact Information", "ContactInformation", "ePermitAdmin")    						 
						</li>
						<li> 
							@Html.ActionLink("Location", "Location", "ePermitAdmin")    						 
						</li>
						<li> 
							@Html.ActionLink("Surface & Mineral Ownership", "SurfaceMineralOwnership", "ePermitAdmin")    						 
						</li>
						<li> 
							@Html.ActionLink("Ownership & Control", "OwnershipControl", "ePermitAdmin")    						 
						</li>
						<li> 
							@Html.ActionLink("Mine Site Information", "MineSiteInformation", "ePermitAdmin")    						 
						</li>
						<li> 
							@Html.ActionLink("Applicant Description of Interests", "ApplicantDescriptionOfInterests", "ePermitAdmin")   						 
						</li>
						<li> 
							@Html.ActionLink("Non-Compliance", "NonComplianceSuspensionPermits", "ePermitAdmin", null, new { title = "Non-Compliance (Suspension, Revocations, Bond Forfeitures)" })  						 
						</li>
						<li> 
							@Html.ActionLink("Violations & Cessations", "ViolationsCessations", "ePermitAdmin")    						 
						</li>
						<li> 
							@Html.ActionLink("Legal Right to Enter", "LegalRightEnter", "ePermitAdmin")    						 
						</li>
						<li> 
							@Html.ActionLink("Status of Private Mineral/Surface Estate", "StatusPrivateMineralSurfaceEstate", "ePermitAdmin") 						 
						</li>
						<li> 
							@Html.ActionLink("Lands Unsuitable", "LandsUnsuitable", "ePermitAdmin")   						 
						</li>
                        <li> 
							@Html.ActionLink("Exemptions", "Exemptions", "ePermitAdmin")   						 
						</li>
                        <li> 
							@Html.ActionLink("Life of Mine / Estimated Mining Timetable", "Timetable", "ePermitAdmin")   						 
						</li>
						<li> 
							@Html.ActionLink("Insurance", "Insurance", "ePermitAdmin")    						 
						</li>
						<li> 
							@Html.ActionLink("Other Permits", "OtherPermits", "ePermitAdmin", null, new { title = "Other Permits (Coal & Non-Coal)" })    						 
						</li>
						<li> 
							@Html.ActionLink("Public Copy of Application", "PublicCopyApplication", "ePermitAdmin")   						 
						</li>
						<li> 
							@Html.ActionLink("Proof of Publication", "ProofPublication", "ePermitAdmin")    						 
						</li>
						<li> 
							@Html.ActionLink("Bonding", "Bonding", "ePermitAdmin")    					 
						</li>
						<li> 
							@Html.ActionLink("Historic Mining", "HistoricMining", "ePermitAdmin")    						 
						</li>
					</ul>
				</li>
				<li>@Html.ActionLink("Baseline", "Timetable", "ePermitBaseline")
                    <ul class="nav2 baseline" style="overflow: hidden; display: none;">
                         <li> 
							@Html.ActionLink("Life of Mine / Estimated Mining Timetable", "Timetable", "ePermitBaseline")   						 
						</li>
                        <li> 
                            @Html.ActionLink("Cultural Resources", "CulturalResources", "ePermitBaseline")   
                        </li>
                        <li> 
                            @Html.ActionLink("Unique/Special Characteristics & Geologic Formations", "UniqueFormations", "ePermitBaseline")    
                        </li>
                        <li> 
                            @Html.ActionLink("Hydrologic Information", "HydrologicInformation", "ePermitBaseline")   
                        </li>
                        <li> 
                            @Html.ActionLink("Geologic Information", "GeologicInformation", "ePermitBaseline")  
                        </li>
                        <li> 
                            @Html.ActionLink("Climatological Data", "ClimatologicalData", "ePermitBaseline") 
                        </li>
                        <li> 
                            @Html.ActionLink("Vegetation Survey", "VegetationSurvey", "ePermitBaseline")     
                        </li>
                        <li> 
                            @Html.ActionLink("Wildlife Survey", "WildlifeSurvey", "ePermitBaseline")     
                        </li>
                        <li> 
                            @Html.ActionLink("Soil Survey", "SoilSurvey", "ePermitBaseline")     
                        </li>
                        <li> 
                            @Html.ActionLink("Premine Land Use", "PremineLandUse", "ePermitBaseline")   
                        </li>
                        <li> 
                            @Html.ActionLink("Prime Farmland Investigation", "PrimeFarmlandInvestigation", "ePermitBaseline")   
                        </li>
                        <li> 
                            @Html.ActionLink("Protection of Public Parks and Historic Places", "Protection", "ePermitBaseline")     
                        </li>
                        <li> 
                            @Html.ActionLink("Relocation or Use of Public Roads", "Relocation", "ePermitBaseline")     
                        </li>
                        <li> 
                            @Html.ActionLink("Alluvial Valley Floors", "AlluvialValleyFloors", "ePermitBaseline")   
                        </li>
                    </ul>
				</li>
				<li>@Html.ActionLink("Operations", "OperationsPlan", "ePermitOperations")
                    <ul class="nav2 operations" style="overflow: hidden; display: none;">
                        <li> 
                           @Html.ActionLink("Operations Plan", "OperationsPlan", "ePermitOperations")    
                        </li>
                        <li> 
                           @Html.ActionLink("Type and Method of Mining", "TypeOfMining", "ePermitOperations", null, new { title = "Operations Plan - Type and Method of Mining" })    
                        </li>
                        <li> 
                           @Html.ActionLink("Facilities Management Plan", "FacilitiesManagement", "ePermitOperations", null, new { title = "Operations Plan - Facilities Management Plan" })    
                        </li>
                        <li> 
                           @Html.ActionLink("Toxic and Undesirable Materials Disposal Plan", "Disposal", "ePermitOperations", null, new { title = "Operations Plan - Toxic and Undesirable Materials Disposal Plan" })    
                        </li>
                        <li> 
                           @Html.ActionLink("Fire Contingency Plan", "FireContingencyPlan", "ePermitOperations", null, new { title = "Operations Plan - Fire Contingency Plan" })    
                        </li>
                        <li> 
                           @Html.ActionLink("Compliance with Air & Water Quality Laws", "Compliance", "ePermitOperations", null, new { title = "Operations Plan - Compliance with Air & Water Quality Laws" })    
                        </li>
                        <li> 
                            @Html.ActionLink("Noxious Weed Management", "NoxiousWeedsManagementPlan", "ePermitOperations", null, new { title = "Operations Plan - Noxious Weed Management" })    
                        </li>
                        <li> 
                            @Html.ActionLink("Blasting Plan", "BlastingPlan", "ePermitOperations")    
                        </li>
                        <li> 
                            @Html.ActionLink("Air Pollution Control", "AirPollutionControlPlan", "ePermitOperations")    
                        </li>
                        <li> 
                            @Html.ActionLink("Fish & Wildlife Plan", "FishandWildlifePlan", "ePermitOperations")    
                        </li>
                        <li> 
                            @Html.ActionLink("Plans for Ponds and Embankments", "PlansForPondsAndEmbankments", "ePermitOperations")    
                        </li>
                        <li> 
                            @Html.ActionLink("Mining Near Underground Mining", "MiningNearUndergroundMining", "ePermitOperations")    
                        </li>
                        <li> 
                            @Html.ActionLink("Diversions", "Diversions", "ePermitOperations")    
                        </li>
                        <li> 
                            @Html.ActionLink("Plans for Disposal of Excess Spoil", "PlansForDisposalOfExcessSpoil", "ePermitOperations")    
                        </li>
                        <li> 
                            @Html.ActionLink("Transportation Facilities Plan", "TransportationFacilitiesPlan", "ePermitOperations", null, new { title = "Transportation Facilities Plan (During Mining)" })    
                        </li>
                        <li> 
                            @Html.ActionLink("Coal Conservation Plan", "CoalConservationPlan", "ePermitOperations")    
                        </li>
                        <li> 
                            @Html.ActionLink("Auger Mining", "AugerMining", "ePermitOperations")    
                        </li>
                    </ul>
				</li>
				<li>@Html.ActionLink("Reclamation", "ReclamationPlan", "ePermitReclamation")
                    <ul class="nav2 reclamation" style="overflow: hidden; display: none;">
                        <li> 
                        @Html.ActionLink("Reclamation Plan", "ReclamationPlan", "ePermitReclamation")    
 
                        </li>
                        <li> 
                        @Html.ActionLink("Postmine Land Use/Revegetation Types", "ReclamationPostmineRevegetation", "ePermitReclamation")    
 
                        </li>
                        <li> 
                        @Html.ActionLink("Life of Mine / Estimated Mining Timetable", "Timetable", "ePermitReclamation")    
 
                        </li>
                        <li> 
                        @Html.ActionLink("Bond Calculation", "ReclamationBondCalculation", "ePermitReclamation")    
 
                        </li>
                        <li> 
                        @Html.ActionLink("Backfill & Grading Plan", "BackfillGradingPlan", "ePermitReclamation")    
 
                        </li>
                        <li> 
                        @Html.ActionLink("Drainage Basin Reclamation Plan", "DrainageBasinReclamationPlan", "ePermitReclamation")    
 
                        </li>
                        <li> 
                        @Html.ActionLink("Soil Handling Plan", "SoilHandlingPlan", "ePermitReclamation")    
 
                        </li>
                        <li> 
                        @Html.ActionLink("Revegetation Plan (Part I)", "RevegetationPlan", "ePermitReclamation") 
                        </li>
                        <li> 
                        @Html.ActionLink("Revegetation Plan (Part II)", "PostMineLandUse", "ePermitReclamation") 
                        </li>
                        <li> 
                        @Html.ActionLink("Plan for Sealing Mine Openings", "PlanForSealingMineOpenings", "ePermitReclamation")    
 
                        </li>
                        <li> 
                        @Html.ActionLink("Facilities Reclamation Plan", "FacilitiesReclamation", "ePermitReclamation")    
 
                        </li>
                        <li> 
                        @Html.ActionLink("Plan for the Protection of the Hydrologic Balance", "PlanForTheProtectionOfHydrologicBalance", "ePermitReclamation")    
 
                        </li>
                        <li> 
                        @Html.ActionLink("Prime Farmland Special Application", "PrimeFarmland", "ePermitReclamation")    
 
                        </li>
                    </ul>
				</li>
               <li>@Html.ActionLink("Map Summary", "Maps", "ePermitMaps")
                    <ul class="nav2 maps" style="overflow: hidden; display: none;">
                        <li> 
						    @Html.ActionLink("Maps", "Maps", "ePermitMaps")						 
					    </li>
                    </ul>
                </li>               
				<li><a href="/ePermitPerformance/FiveHundreds">Performance Standards</a>
                    <ul class="nav2 performance" style="overflow: hidden; display: none;">
                        <li> 
                        @Html.ActionLink("500's", "FiveHundreds", "ePermitPerformanceStandards")  
                        </li>
                        <li> 
                        @Html.ActionLink("600's", "SixHundreds", "ePermitPerformanceStandards")  
                        </li>
                        <li> 
                        @Html.ActionLink("700's", "SevenHundreds", "ePermitPerformanceStandards")    
                        </li>
                        <li> 
                        @Html.ActionLink("800's", "EightHundreds", "ePermitPerformanceStandards")    
                        </li>
                        <li> 
                        @Html.ActionLink("900's (Underground Mining Only)", "NineHundreds", "ePermitPerformanceStandards")     
                        </li>
                    </ul>
				</li>
                <li>@Html.ActionLink("Completeness", "Checklist", "ePermitCompleteness")
                    <ul class="nav2 completeness" style="overflow: hidden; display: none; ">
                        <li>
                            @Html.ActionLink("Checklist", "Checklist", "ePermitCompleteness")
                        </li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Acceptability", "Acceptability", "ePermitAcceptability")
                    <ul class="nav2 completeness" style="overflow: hidden; display: none; ">
                        <li>
                            @Html.ActionLink("Checklist", "Acceptability", "ePermitAcceptability")
                        </li>
                    </ul>
                </li>	
                <li><a href="#">Audit Report</a></li>			
			</ul>
         </li>
    </ul>
</aside>