@{
    ViewBag.Title = "PlansForPondsAndEmbankments";
}

<h1>ePermit</h1>

<article>
    <h2 data-submenu="10">Plans for Ponds and Embankments</h2>

    @*general plan for impoundments attachments*@
    <h3>General Plan for Sedimentation Ponds and Water Impoundments</h3>
    <textarea id="PondsAndImpoundments" class="planstextarea" placeholder="General Plan for Sedimentation Ponds and Water Impoundments Description"></textarea>
    
    <fieldset class="setapart">
        <legend>Attachments</legend>
        @Html.Partial("_attachmentTable")
    </fieldset>



    @*certified schedule for detailed design plan attachments*@

    <fieldset class="setapart">
        <legend>Certification Statement for Detailed Design Plan Attachments</legend>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">My First Attachment File.pdf</a></td>
                    <td>3/26/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">My Second Attachment File.pdf</a></td>
                    <td>7/18/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" style="text-align: right;">
            <button class="tertiary"><span class="plussymbol">+</span>&nbsp;Add New</button>
        </div>
    </fieldset>

    @* pond specific design and as-built table*@

    <fieldset class="setapart">
        <legend>Pond Specific Design and As-Built Table</legend>
        <table id="tableproperties2" style="clear: both; width: 100%;">
            <!-- First row -->
            <tr>
                <th>Pond ID</th>
                <th>Design Attachment</th>
                <th>As-Built Attachment</th>
                <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
            </tr>
            <!-- Second row -->
            <tr>
                <td>
                    <input class="cell-width-100" type="text" name="pondid" required="" value="Pond 29-A2543" /></td>
                <td><a href="#">Design.pdf</a></td>
                <td><a href="#">AsBuilt.pdf</a></td>
                <td style="text-align: center;">
                    <button class="modal23 edit" title="Pond Specific Design and As-Built">Edit</button>
                    <button class="delete" title="Delete">Delete</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="cell-width-100" type="text" name="pondid" required="" value="Pond 867-5309" /></td>
                <td><a href="#">Design2.pdf</a></td>
                <td class="actionrow">
                    @*<button class="selectedit">Add New</button>*@</td>
                <td style="text-align: center;">
                    <button class="modal23 edit" title="Pond Specific Design and As-Built">Edit</button>
                    <button class="delete" title="Delete">Delete</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="cell-width-100" type="text" name="pondid" required="" value="Pond Beachwood-4-5789  " /></td>
                <td><a href="#">Design3.pdf</a></td>
                <td class="actionrow">
                    @*<button class="selectedit">Add New</button>*@</td>
                <td style="text-align: center;">
                    <button class="modal23 edit" title="Pond Specific Design and As-Built">Edit</button>
                    <button class="delete" title="Delete">Delete</button>
                </td>
            </tr>

        </table>
        <div class="text-right" style="text-align: right;">
            <button class="modal23 tertiary" title="Pond Specific Design and As-Built"><span class="plussymbol">+</span>&nbsp;Add New</button>
            <div class="dialogbox23" style="display: none;" title="Pond Specific Design and As-Built">
                @Html.Partial("_pondSpecificDesignDialog", false)
            </div>
        </div>
    </fieldset>

    @*general location map layers and attachments*@

    <fieldset class="setapart">
        <legend>General Location Map</legend>
        <h4>Required Map Layers:</h4>
        <div class="checkboxes">
            <input disabled="disabled" type="checkbox" name="Ponds" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Impoundments (17.24.315(1)(a)(ii))</a>
            <br />
            <input disabled="disabled" type="checkbox" name="Ponds" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Premine Drainage Boundary (17.24.315(1)(a)(ii))</a>
        </div>
        <h4>Attachments</h4>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Satisfied Map Layers</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="@Url.Action("Maps", "ePermitMaps")">OnGoldenPond.pdf</a></td>
                    <td>
                        <select class="dropdownListMaps">
                            <option>Premine Drainage Boundary (17.24.315(1)(a)(ii))</option>

                        </select>
                    </td>
                    <td>3/26/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" style="text-align: right;">
            <button class="modal22 tertiary" title="Add New Map"><span class="plussymbol">+</span>&nbsp;Add New</button>
            <div class="dialogbox22" style="display: none;" title="Add New Map">
                @Html.Partial("_addNewMap", false)
            </div>
        </div>
    </fieldset>
    <button value="Submit" id="ShowComments" title="Deficiency" class="CommentsButton Primary">Deficiency ▼</button>
    <div id="Comments" class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
    <p>&nbsp;</p>
</article>

