@{
    ViewBag.Title = "TransportationFacilitiesPlan";
}

<h1>ePermit</h1>

<article>
<h2 data-submenu="14">Transportation Facilities Plan</h2>
    <textarea class="planstextarea" id='FacilitiesManagementDescription' placeholder="Transportation Facilities Plan Description"></textarea>
        <fieldset class="setapart">
        <legend>Attachments</legend>
       <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Uploaded</th>
                <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">My First Attachment File.pdf</a></td>
                <td>3/26/2013</td>
                <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                        </td>
            </tr>
            <tr>
                <td><a href="#">My Second Attachment File.pdf</a></td>
                <td>7/18/2013</td>
                <td>JB</td>
                    <td style="text-align: center;">
                       <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                        </td>
            </tr>
        </tbody>
    </table>
        <div class="text-right" style="text-align: right;">
            <button class="tertiary"><span class="plussymbol">+</span>&nbsp;Add New</button>
    </div>
    </fieldset>


 <fieldset class="setapart">   
        <legend>Transportation Facilities Map</legend>
        <h4>Required Map Layers:</h4>
     <div class="checkboxes">
            <input disabled="disabled" type="checkbox" name="Transportation" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Roads (17.24.321)</a>
            <br />
            <input disabled="disabled" type="checkbox" name="Transportation" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">MapConveyors (17.24.321)</a>
            <br />
            <input disabled="disabled" type="checkbox" name="Transportation" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Rail Loops (17.24.321)</a>
            <br />
            <input disabled="disabled" type="checkbox" name="Transportation" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Culverts (17.24.321)</a>
            <br />
            <input disabled="disabled" type="checkbox" name="Transportation" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Bridges (17.24.321)</a>
            <br />
            <input disabled="disabled" type="checkbox" name="Transportation" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Drainage Ditches (17.24.321)</a>
            <br />
            <input disabled="disabled" type="checkbox" name="Transportation" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Drainage Structures (17.24.321)</a>
            <br />
            <input disabled="disabled" type="checkbox" name="Transportation" value="x" checked="checked" /><a href="@Url.Action("Maps", "ePermitMaps")">Low-Water Crossings (17.24.321)</a>
        </div>
           <h4>Attachments</h4>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Satisfied Map Layers</th>
                    <th>Date Uploaded</th>
                    <th>User</th>
                    <th style="text-align: center;">Edit&nbsp;/&nbsp;Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="@Url.Action("Maps", "ePermitMaps")">ConjunctionJunction.pdf</a></td>
                    <td>
                        <select class="dropdownListMaps">
                            <option>Roads (17.24.321)</option>
                            <option>MapConveyors (17.24.321)</option>
                            <option>Bridges (17.24.321)</option>
                            <option>Drainage Structures (17.24.321)</option>
                        </select>
                    </td>
                    <td>3/26/2013</td>
                    <td>JB</td>
                    <td style="text-align: center;">
                        <button class="edit" title="Edit">Edit</button>
                        <button class="delete" title="Delete">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right" style="text-align: right;">
            <button class="modal22 tertiary" title="Add New Map"><span class="plussymbol">+</span>&nbsp;Add New</button>
            <div class="dialogbox22" style="display: none;" title="Add New Map">
                @Html.Partial("_addNewMap", false)
            </div>
    </div>
    </fieldset>
      
<button value="Submit" id="ShowComments" title="Deficiency" class="CommentsButton Primary">Deficiency ▼</button>
        <div id="Comments" class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>      
    <div>
        <button class="primary">Save</button>
        <button class="secondary">Reset</button>
    </div>    
</article>

