@{
    ViewBag.Title = "NineHundreds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ePermit</h1>

<article>
    <h2 data-submenu="4">Performance Standards 900s</h2>
    <fieldset>
        <legend></legend>

        <div id="accordion">
            <h3 class="iconswitch"><span class="comply"></span>901 General Application and Review Requirements</h3>
            <div>
                <input type="checkbox" title="Compliance" id="Compliance" name="Compliance" />&nbsp;I agree to comply with the requirements of this section.
            <br />
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Rule</th>
                            <th>Location of Rule Complied with</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="Rule" required>
                                    <option value="Choose Rule" selected>Choose Rule</option>
                                    <option value="Entire Section">Entire Section</option>
                                    <option value="901(1)">901(1)</option>
                                    <option value="901(1)(a)">901(1)(a)</option>
                                    <option value="901(1)(b)">901(1)(b)</option>
                                    <option value="901(1)(c)(i)">901(1)(c)(i)</option>
                                    <option value="901(1)(c)(i)(A)">901(1)(c)(i)(A)</option>
                                    <option value="901(1)(c)(i)(B)">901(1)(c)(i)(B)</option>
                                    <option value="901(1)(c)(i)(C)">901(1)(c)(i)(C)</option>
                                    <option value="901(1)(c)(i)(D)">901(1)(c)(i)(D)</option>
                                    <option value="901(1)(c)(i)(E)">901(1)(c)(i)(E)</option>
                                    <option value="901(1)(c)(i)(F)">901(1)(c)(i)(F)</option>
                                    <option value="901(1)(c)(i)(G)">901(1)(c)(i)(G)</option>
                                    <option value="901(1)(c)(i)(G)(I)">901(1)(c)(i)(G)(I)</option>
                                    <option value="901(1)(c)(i)(G)(II)">901(1)(c)(i)(G)(II)</option>
                                    <option value="901(1)(c)(i)(G)(II)(ii)">901(1)(c)(i)(G)(II)(ii)</option>
                                    <option value="901(1)(c)(i)(G)(II)(iii)">901(1)(c)(i)(G)(II)(iii)</option>
                                    <option value="901(1)(c)(i)(G)(II)(iii)(A)">901(1)(c)(i)(G)(II)(iii)(A)</option>
                                    <option value="901(1)(c)(i)(G)(II)(iii)(A)(I)">901(1)(c)(i)(G)(II)(iii)(A)(I)</option>
                                    <option value="901(1)(c)(i)(G)(II)(iii)(B)">901(1)(c)(i)(G)(II)(iii)(B)</option>
                                    <option value="901(1)(c)(i)(G)(II)(iii)(B)(I)">901(1)(c)(i)(G)(II)(iii)(B)(I)</option>
                                    <option value="901(1)(c)(i)(G)(II)(iii)(B)(II)">901(1)(c)(i)(G)(II)(iii)(B)(II)</option>
                                    <option value="901(1)(c)(i)(G)(II)(iii)(B)(III)">901(1)(c)(i)(G)(II)(iii)(B)(III)</option>
                                    <option value="901(1)(c)(i)(G)(II)(iii)(B)(IV)">901(1)(c)(i)(G)(II)(iii)(B)(IV)</option>
                                    <option value="901(1)(c)(i)(G)(II)(iii)(C)">901(1)(c)(i)(G)(II)(iii)(C)</option>
                                    <option value="901(1)(c)(i)(G)(II)(iii)(C)(I)">901(1)(c)(i)(G)(II)(iii)(C)(I)</option>
                                    <option value="901(1)(c)(i)(G)(II)(iii)(C)(II)">901(1)(c)(i)(G)(II)(iii)(C)(II)</option>
                                    <option value="901(1)(c)(i)(G)(II)(iii)(D)">901(1)(c)(i)(G)(II)(iii)(D)</option>
                                    <option value="901(1)(d)">901(1)(d)</option>
                                    <option value="901(1)(e)">901(1)(e)</option>
                                    <option value="901(1)(f)">901(1)(f)</option>
                                    <option value="901(1)(g)">901(1)(g)</option>
                                    <option value="901(1)(g)(i)">901(1)(g)(i)</option>
                                    <option value="901(1)(g)(ii)">901(1)(g)(ii)</option>
                                    <option value="901(1)(h)">901(1)(h)</option>
                                    <option value="901(1)(h)(i)">901(1)(h)(i)</option>
                                    <option value="901(1)(h)(ii)">901(1)(h)(ii)</option>
                                    <option value="901(1)(h)(iii)">901(1)(h)(iii)</option>
                                    <option value="901(1)(h)(iv)">901(1)(h)(iv)</option>
                                    <option value="901(2)">901(2)</option>

                                </select>
                            </td>
                            <td>
                                <select name="pagename" required>
                                    <option value="Choose Page/Screen Reference" selected>Choose Page/Screen Reference</option>
                                    <option value="Screen 1">Screen 1</option>
                                    <option value="Screen 2">Screen 2</option>
                                    <option value="Screen 3">Screen 3</option>
                                    <option value="Screen 4">Screen 4</option>
                                    <option value="Screen 5">Screen 5</option>
                                    <option value="Screen 6">Screen 6</option>
                                    <option value="Screen 7">Screen 7</option>
                                    <option value="Screen 8">Screen 8</option>
                                    <option value="Screen 9">Screen 9</option>
                                    <option value="Screen 10">Screen 10</option>
                                    <option value="Screen 11">Screen 11</option>
                                    <option value="Screen 12">Screen 12</option>
                                    <option value="Screen 13">Screen 13</option>
                                    <option value="Screen 14">Screen 14</option>
                                    <option value="Screen 15">Screen 15</option>
                                    <option value="Screen 16">Screen 16</option>
                                    <option value="Screen 17">Screen 17</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                             <button value="Submit" class="tertiary" title="+ Add New Rule">+ Add New Rule</button>
                <label for="Operator Comments">Operator Comments</label>
                <textarea id="" placeholder="Example: See Reclamation plan page, attachment RecPlan.pdf, 5th paragraph."></textarea>
                <br />
                <button value="Submit" title="Deficiency" class="ShowComments CommentsButton Primary">Deficiency ▼</button>
                <div class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
            </div>
            <h3 class="iconswitch"><span class="comply"></span>902 Application Requirements For In Situ Coal Processing Operations</h3>
            <div>
                <label>
                    <input type="checkbox" title="Compliance" name="Compliance" checked aria-checked="true" />&nbsp;I agree to comply with the requirements of this section.</label>
                <br />
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Rule</th>
                            <th>Location of Rule Complied with</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="Rule">
                                    <option value="Choose Rule" selected>Choose Rule</option>
                                    <option value="Entire Section">Entire Section</option>
                                    <option value="902(1)">902(1)</option>
                                    <option value="902(1)(a)">902(1)(a)</option>
                                    <option value="902(1)(b)">902(1)(b)</option>
                                    <option value="902(1)(c)">902(1)(c)</option>
                                    <option value="902(1)(d)">902(1)(d)</option>
                                    <option value="902(2)">902(2)</option>

                                </select>
                            </td>
                            <td>
                                <select name="pagename">
                                    <option value="Choose Page/Screen Reference" selected>Choose Page/Screen Reference</option>
                                    <option value="Screen 1">Screen 1</option>
                                    <option value="Screen 2">Screen 2</option>
                                    <option value="Screen 3">Screen 3</option>
                                    <option value="Screen 4">Screen 4</option>
                                    <option value="Screen 5">Screen 5</option>
                                    <option value="Screen 6">Screen 6</option>
                                    <option value="Screen 7">Screen 7</option>
                                    <option value="Screen 8">Screen 8</option>
                                    <option value="Screen 9">Screen 9</option>
                                    <option value="Screen 10">Screen 10</option>
                                    <option value="Screen 11">Screen 11</option>
                                    <option value="Screen 12">Screen 12</option>
                                    <option value="Screen 13">Screen 13</option>
                                    <option value="Screen 14">Screen 14</option>
                                    <option value="Screen 15">Screen 15</option>
                                    <option value="Screen 16">Screen 16</option>
                                    <option value="Screen 17">Screen 17</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                            <button value="Submit" class="tertiary" title="+ Add New Rule">+ Add New Rule</button>
                <label for="Operator Comments">Operator Comments</label>
                <textarea id="" placeholder="Example: See Reclamation plan page, attachment RecPlan.pdf, 5th paragraph."></textarea>
                <br />
                <button value="Submit" title="Deficiency" class="ShowComments CommentsButton Primary">Deficiency ▼</button>
                <div class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
            </div>

            <h3 class="iconswitch"><span class="comply"></span>903 General Performance Standards</h3>
            <div>
                <input type="checkbox" title="Compliance" name="Compliance" checked aria-checked="true" />&nbsp;I agree to comply with the requirements of this section.
            <br />
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Rule</th>
                            <th>Location of Rule Complied with</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="Rule">
                                    <option value="Choose Rule" selected>Choose Rule</option>
                                    <option value="Entire Section">Entire Section</option>
                                    <option value="903(1)">903(1)</option>
                                    <option value="903(1)(a)">903(1)(a)</option>
                                    <option value="903(1)(b)">903(1)(b)</option>
                                    <option value="903(1)(c)">903(1)(c)</option>
                                    <option value="903(1)(d)">903(1)(d)</option>
                                    <option value="903(1)(e)">903(1)(e)</option>
                                    <option value="903(1)(e)(i)">903(1)(e)(i)</option>
                                    <option value="903(1)(e)(ii)">903(1)(e)(ii)</option>
                                    <option value="903(1)(e)(iii)">903(1)(e)(iii)</option>
                                    <option value="903(1)(e)(iv)">903(1)(e)(iv)</option>
                                    <option value="903(1)(f)">903(1)(f)</option>
                                    <option value="903(1)(g)">903(1)(g)</option>
                                    <option value="903(1)(h)">903(1)(h)</option>
                                    <option value="903(1)(i)">903(1)(i)</option>
                                    <option value="903(1)(i)(i)(A)">903(1)(i)(i)(A)</option>
                                    <option value="903(1)(i)(i)(B)">903(1)(i)(i)(B)</option>
                                    <option value="903(1)(i)(ii)(A)">903(1)(i)(ii)(A)</option>
                                    <option value="903(1)(i)(ii)(B)">903(1)(i)(ii)(B)</option>
                                    <option value="903(1)(i)(ii)(C)">903(1)(i)(ii)(C)</option>
                                    <option value="903(1)(j)">903(1)(j)</option>
                                    <option value="903(2)">903(2)</option>
                                </select>
                            </td>
                            <td>
                                <select name="pagename">
                                    <option value="Choose Page/Screen Reference" selected>Choose Page/Screen Reference</option>
                                    <option value="Screen 1">Screen 1</option>
                                    <option value="Screen 2">Screen 2</option>
                                    <option value="Screen 3">Screen 3</option>
                                    <option value="Screen 4">Screen 4</option>
                                    <option value="Screen 5">Screen 5</option>
                                    <option value="Screen 6">Screen 6</option>
                                    <option value="Screen 7">Screen 7</option>
                                    <option value="Screen 8">Screen 8</option>
                                    <option value="Screen 9">Screen 9</option>
                                    <option value="Screen 10">Screen 10</option>
                                    <option value="Screen 11">Screen 11</option>
                                    <option value="Screen 12">Screen 12</option>
                                    <option value="Screen 13">Screen 13</option>
                                    <option value="Screen 14">Screen 14</option>
                                    <option value="Screen 15">Screen 15</option>
                                    <option value="Screen 16">Screen 16</option>
                                    <option value="Screen 17">Screen 17</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                  <button value="Submit" class="tertiary" title="+ Add New Rule">+ Add New Rule</button>
                <label for="Operator Comments">Operator Comments</label>
                <textarea id="" placeholder="Provide Comments if necessary..."></textarea>
                <br />
                <button value="Submit" title="Deficiency" class="ShowComments CommentsButton Primary">Deficiency ▼</button>
                <div class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
            </div>
            <h3 class="iconswitch"><span class="comply"></span>904 In Situ Coal Processing Operation Performance Standards</h3>
            <div>
                <input type="checkbox" title="Compliance" name="Compliance" checked aria-checked="true" />&nbsp;I agree to comply with the requirements of this section.
            <br />
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Rule</th>
                            <th>Location of Rule Complied with</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="Rule">
                                    <option value="Choose Rule" selected>Choose Rule</option>
                                    <option value="Entire Section">Entire Section</option>
                                    <option value="904(1)">904(1)</option>
                                    <option value="904(2)">904(2)</option>
                                    <option value="904(2)(a)">904(2)(a)</option>
                                    <option value="904(2)(b)">904(2)(b)</option>
                                    <option value="904(2)(c)">904(2)(c)</option>
                                    <option value="904(2)(d)">904(2)(d)</option>
                                    <option value="904(3)">904(3)</option>
                                    <option value="904(4)">904(4)</option>
                                    <option value="904(4)(a)">904(4)(b)</option>
                                    <option value="904(4)(b)">904(4)(b)</option>
                                    <option value="904(5)">904(5)</option>
                                    <option value="904(6)">904(6)</option>
                                </select>
                            </td>
                            <td>
                                <select name="pagename">
                                    <option value="Choose Page/Screen Reference" selected>Choose Page/Screen Reference</option>
                                    <option value="Screen 1">Screen 1</option>
                                    <option value="Screen 2">Screen 2</option>
                                    <option value="Screen 3">Screen 3</option>
                                    <option value="Screen 4">Screen 4</option>
                                    <option value="Screen 5">Screen 5</option>
                                    <option value="Screen 6">Screen 6</option>
                                    <option value="Screen 7">Screen 7</option>
                                    <option value="Screen 8">Screen 8</option>
                                    <option value="Screen 9">Screen 9</option>
                                    <option value="Screen 10">Screen 10</option>
                                    <option value="Screen 11">Screen 11</option>
                                    <option value="Screen 12">Screen 12</option>
                                    <option value="Screen 13">Screen 13</option>
                                    <option value="Screen 14">Screen 14</option>
                                    <option value="Screen 15">Screen 15</option>
                                    <option value="Screen 16">Screen 16</option>
                                    <option value="Screen 17">Screen 17</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button value="Submit" class="tertiary" title="+ Add New Rule">+ Add New Rule</button>
                <label for="Operator Comments">Operator Comments</label>
                <textarea id="" placeholder="Provide Comments if necessary..."></textarea>
                <br />
                <button value="Submit" title="Deficiency" class="ShowComments CommentsButton Primary">Deficiency ▼</button>
                <div class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
            </div>
            <h3 class="iconswitch"><span class="comply"></span>905 Rules Not Applicable to In Situ Coal Operations</h3>
            <div>
                <input type="checkbox" title="Compliance" name="Compliance" checked aria-checked="true" />&nbsp;I agree to comply with the requirements of this section.
            <br />
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Rule</th>
                            <th>Location of Rule Complied with</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="Rule">
                                    <option value="Choose Rule" selected>Choose Rule</option>
                                    <option value="Entire Section">Entire Section</option>
                                    <option value="905(1)">905(1)</option>
                                    <option value="905(1)(a)">905(1)(a)</option>
                                    <option value="905(1)(b)">905(1)(b)</option>
                                    <option value="905(1)(c)">905(1)(c)</option>
                                    <option value="905(1)(d)">905(1)(d)</option>
                                    <option value="905(2)">905(2)</option>
                                </select>
                            </td>
                            <td>
                                <select name="pagename">
                                    <option value="Choose Page/Screen Reference" selected>Choose Page/Screen Reference</option>
                                    <option value="Screen 1">Screen 1</option>
                                    <option value="Screen 2">Screen 2</option>
                                    <option value="Screen 3">Screen 3</option>
                                    <option value="Screen 4">Screen 4</option>
                                    <option value="Screen 5">Screen 5</option>
                                    <option value="Screen 6">Screen 6</option>
                                    <option value="Screen 7">Screen 7</option>
                                    <option value="Screen 8">Screen 8</option>
                                    <option value="Screen 9">Screen 9</option>
                                    <option value="Screen 10">Screen 10</option>
                                    <option value="Screen 11">Screen 11</option>
                                    <option value="Screen 12">Screen 12</option>
                                    <option value="Screen 13">Screen 13</option>
                                    <option value="Screen 14">Screen 14</option>
                                    <option value="Screen 15">Screen 15</option>
                                    <option value="Screen 16">Screen 16</option>
                                    <option value="Screen 17">Screen 17</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                  <button value="Submit" class="tertiary" title="+ Add New Rule">+ Add New Rule</button>
                <label for="Operator Comments">Operator Comments</label>
                <textarea id="" placeholder="Provide Comments if necessary..."></textarea>
                <br />
                <button value="Submit" title="Deficiency" class="ShowComments CommentsButton Primary">Deficiency ▼</button>
                <div class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
            </div>
            <h3 class="iconswitch"><span class="comply"></span>907 In Situ Uranium Processing Operation Performance Standards</h3>
            <div>
                <input type="checkbox" title="Compliance" name="Compliance" checked aria-checked="true" />&nbsp;I agree to comply with the requirements of this section.
            <br />
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Rule</th>
                            <th>Location of Rule Complied with</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Entire Section</td>
                            <td>
                                <select name="pagename">
                                    <option value="Choose Page/Screen Reference" selected>Choose Page/Screen Reference</option>
                                    <option value="Screen 1">Screen 1</option>
                                    <option value="Screen 2">Screen 2</option>
                                    <option value="Screen 3">Screen 3</option>
                                    <option value="Screen 4">Screen 4</option>
                                    <option value="Screen 5">Screen 5</option>
                                    <option value="Screen 6">Screen 6</option>
                                    <option value="Screen 7">Screen 7</option>
                                    <option value="Screen 8">Screen 8</option>
                                    <option value="Screen 9">Screen 9</option>
                                    <option value="Screen 10">Screen 10</option>
                                    <option value="Screen 11">Screen 11</option>
                                    <option value="Screen 12">Screen 12</option>
                                    <option value="Screen 13">Screen 13</option>
                                    <option value="Screen 14">Screen 14</option>
                                    <option value="Screen 15">Screen 15</option>
                                    <option value="Screen 16">Screen 16</option>
                                    <option value="Screen 17">Screen 17</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                  <button value="Submit" class="tertiary" title="+ Add New Rule">+ Add New Rule</button>
                <label for="Operator Comments">Operator Comments</label>
                <textarea id="" placeholder="Provide Comments if necessary..."></textarea>
                <br />
                <button value="Submit" title="Deficiency" class="ShowComments CommentsButton Primary">Deficiency ▼</button>
                <div class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
            </div>
            <h3 class="iconswitch"><span class="comply"></span>911 Subsidence Control</h3>
            <div>
                <input type="checkbox" title="Compliance" name="Compliance" checked aria-checked="true" />&nbsp;I agree to comply with the requirements of this section.
            <br />
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Rule</th>
                            <th>Location of Rule Complied with</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="Rule">
                                    <option value="Choose Rule" selected>Choose Rule</option>
                                    <option value="Entire Section">Entire Section</option>
                                    <option value="911(1)">911(1)</option>
                                    <option value="911(2)">911(2)</option>
                                    <option value="911(3)">911(3)</option>
                                    <option value="911(4)">911(4)</option>
                                    <option value="911(5)">911(5)</option>
                                    <option value="911(5)(a)">911(5)(a)</option>
                                    <option value="911(5)(b)">911(5)(b)</option>
                                    <option value="911(5)(c)">911(5)(c)</option>
                                    <option value="911(6)">911(6)</option>
                                    <option value="911(6)(a)">911(6)(a)</option>
                                    <option value="911(6)(b)">911(6)(b)</option>
                                    <option value="911(6)(c)">911(6)(c)</option>
                                    <option value="911(6)(d)">911(6)(d)</option>
                                    <option value="911(7)">911(7)</option>
                                    <option value="911(7)(a)">911(7)(a)</option>
                                    <option value="911(7)(b)">911(7)(b)</option>
                                    <option value="911(7)(c)">911(7)(c)</option>
                                    <option value="911(8)">911(8)</option>
                                    <option value="911(8)(a)">911(8)(a)</option>
                                    <option value="911(8)(b)">911(8)(b)</option>
                                    <option value="911(8)(c)">911(8)(c)</option>
                                    <option value="911(8)(c)(i)">911(8)(c)(i)</option>
                                    <option value="911(8)(c)(ii)">911(8)(c)(ii)</option>
                                    <option value="911(8)(c)(iii)">911(8)(c)(iii)</option>
                                    <option value="911(8)(d)">911(8)(d)</option>
                                    <option value="911(9)">911(9)</option>
                                    <option value="911(10)">911(10)</option>
                                </select>
                            </td>
                            <td>
                                <select name="pagename">
                                    <option value="Choose Page/Screen Reference" selected>Choose Page/Screen Reference</option>
                                    <option value="Screen 1">Screen 1</option>
                                    <option value="Screen 2">Screen 2</option>
                                    <option value="Screen 3">Screen 3</option>
                                    <option value="Screen 4">Screen 4</option>
                                    <option value="Screen 5">Screen 5</option>
                                    <option value="Screen 6">Screen 6</option>
                                    <option value="Screen 7">Screen 7</option>
                                    <option value="Screen 8">Screen 8</option>
                                    <option value="Screen 9">Screen 9</option>
                                    <option value="Screen 10">Screen 10</option>
                                    <option value="Screen 11">Screen 11</option>
                                    <option value="Screen 12">Screen 12</option>
                                    <option value="Screen 13">Screen 13</option>
                                    <option value="Screen 14">Screen 14</option>
                                    <option value="Screen 15">Screen 15</option>
                                    <option value="Screen 16">Screen 16</option>
                                    <option value="Screen 17">Screen 17</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                 <button value="Submit" class="tertiary" title="+ Add New Rule">+ Add New Rule</button>
                <label for="Operator Comments">Operator Comments</label>
                <textarea id="" placeholder="Provide Comments if necessary..."></textarea>
                <br />
                <button value="Submit" title="Deficiency" class="ShowComments CommentsButton Primary">Deficiency ▼</button>
                <div class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
            </div>
            <h3 class="iconswitch"><span class="comply"></span>912 Buffer Zones</h3>
            <div>
                <input type="checkbox" title="Compliance" name="Compliance" checked aria-checked="true" />&nbsp;I agree to comply with the requirements of this section.
            <br />
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Rule</th>
                            <th>Location of Rule Complied with</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="Rule">
                                    <option value="Choose Rule" selected>Choose Rule</option>
                                    <option value="Entire Section">Entire Section</option>
                                    <option value="912(1)">912(1)</option>
                                    <option value="912(2)">912(2)</option>
                                    <option value="912(3)">912(3)</option>
                                    <option value="912(4)">912(4)</option>
                                </select>
                            </td>
                            <td>
                                <select name="pagename">
                                    <option value="Choose Page/Screen Reference" selected>Choose Page/Screen Reference</option>
                                    <option value="Screen 1">Screen 1</option>
                                    <option value="Screen 2">Screen 2</option>
                                    <option value="Screen 3">Screen 3</option>
                                    <option value="Screen 4">Screen 4</option>
                                    <option value="Screen 5">Screen 5</option>
                                    <option value="Screen 6">Screen 6</option>
                                    <option value="Screen 7">Screen 7</option>
                                    <option value="Screen 8">Screen 8</option>
                                    <option value="Screen 9">Screen 9</option>
                                    <option value="Screen 10">Screen 10</option>
                                    <option value="Screen 11">Screen 11</option>
                                    <option value="Screen 12">Screen 12</option>
                                    <option value="Screen 13">Screen 13</option>
                                    <option value="Screen 14">Screen 14</option>
                                    <option value="Screen 15">Screen 15</option>
                                    <option value="Screen 16">Screen 16</option>
                                    <option value="Screen 17">Screen 17</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                   <button value="Submit" class="tertiary" title="+ Add New Rule">+ Add New Rule</button>
                <label for="Operator Comments">Operator Comments</label>
                <textarea id="" placeholder="Provide Comments if necessary..."></textarea>
                <br />
                <button value="Submit" title="Deficiency" class="ShowComments CommentsButton Primary">Deficiency ▼</button>
                <div class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
            </div>
            <h3 class="iconswitch"><span class="alert"></span>920 Placement and Disposal of Underground Development Waste: Special Application Requirements</h3>
            <div>
                <input type="checkbox" title="Compliance" name="Compliance" />&nbsp;I agree to comply with the requirements of this section.
            <br />
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Rule</th>
                            <th>Location of Rule Complied with</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="Rule">
                                    <option value="Choose Rule" selected>Choose Rule</option>
                                    <option value="Entire Section">Entire Section</option>
                                    <option value="920(1)">920(1)</option>
                                    <option value="920(2)">920(2)</option>
                                </select>
                            </td>
                            <td>
                                <select name="pagename">
                                    <option value="Choose Page/Screen Reference" selected>Choose Page/Screen Reference</option>
                                    <option value="Screen 1">Screen 1</option>
                                    <option value="Screen 2">Screen 2</option>
                                    <option value="Screen 3">Screen 3</option>
                                    <option value="Screen 4">Screen 4</option>
                                    <option value="Screen 5">Screen 5</option>
                                    <option value="Screen 6">Screen 6</option>
                                    <option value="Screen 7">Screen 7</option>
                                    <option value="Screen 8">Screen 8</option>
                                    <option value="Screen 9">Screen 9</option>
                                    <option value="Screen 10">Screen 10</option>
                                    <option value="Screen 11">Screen 11</option>
                                    <option value="Screen 12">Screen 12</option>
                                    <option value="Screen 13">Screen 13</option>
                                    <option value="Screen 14">Screen 14</option>
                                    <option value="Screen 15">Screen 15</option>
                                    <option value="Screen 16">Screen 16</option>
                                    <option value="Screen 17">Screen 17</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
             <button value="Submit" class="tertiary" title="+ Add New Rule">+ Add New Rule</button>
                <label for="Operator Comments">Operator Comments</label>
                <textarea id="" placeholder="Provide Comments if necessary..."></textarea>
                <br />
                <button value="Submit" title="Deficiency" class="ShowComments CommentsButton Primary">Deficiency ▼</button>
                <div class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
            </div>
            <h3 class="iconswitch"><span class="comply"></span>924 Disposal of Undergound Development Waste: General Requirements</h3>
            <div>
                <input type="checkbox" title="Compliance" name="Compliance" checked aria-checked="true" />&nbsp;I agree to comply with the requirements of this section.
            <br />
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Rule</th>
                            <th>Location of Rule Complied with</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="Rule">
                                    <option value="Choose Rule" selected>Choose Rule</option>
                                    <option value="Entire Section">Entire Section</option>
                                    <option value="924(1)">924(1)</option>
                                    <option value="924(2)">924(2)</option>
                                    <option value="924(3)">924(3)</option>
                                    <option value="924(3)(a)">924(3)(a)</option>
                                    <option value="924(3)(b)">924(3)(b)</option>
                                    <option value="924(3)(c)">924(3)(c)</option>
                                    <option value="924(3)(d)">924(3)(d)</option>
                                    <option value="924(4)">924(4)</option>
                                    <option value="924(4)(a)">924(4)(a)</option>
                                    <option value="924(4)(b)">924(4)(b)</option>
                                    <option value="924(5)">924(5)</option>
                                    <option value="924(6)">924(6)</option>
                                    <option value="924(7)">924(7)</option>
                                    <option value="924(8)">924(8)</option>
                                    <option value="924(9)">924(9)</option>
                                    <option value="924(10)">924(10)</option>
                                    <option value="924(11)">924(11)</option>
                                    <option value="924(12)">924(12)</option>
                                    <option value="924(13)">924(13)</option>
                                    <option value="924(14)">924(14)</option>
                                    <option value="924(14)(a)">924(14)(a)</option>
                                    <option value="924(14)(b)">924(14)(b)</option>
                                    <option value="924(14)(b)(i)">924(14)(b)(i)</option>
                                    <option value="924(14)(b)(ii)">924(14)(b)(ii)</option>
                                    <option value="924(14)(b)(iii)">924(14)(b)(iii)</option>
                                    <option value="924(14)(c)">924(14)(b)</option>
                                    <option value="924(14)(d)">924(14)(d)</option>
                                    <option value="924(15)">924(15)</option>
                                    <option value="924(16)">924(16)</option>
                                    <option value="924(17)">924(17)</option>
                                    <option value="924(18)">924(18)</option>
                                    <option value="924(18)(a)">924(18)(a)</option>
                                    <option value="924(18)(b)">924(18)(b)</option>
                                    <option value="924(18)(b)(i)">924(18)(b)(i)</option>
                                    <option value="924(18)(b)(ii)">924(18)(b)(ii)</option>
                                    <option value="924(18)(b)(iii)">924(18)(b)(iii)</option>
                                    <option value="924(18)(b)(iv)">924(18)(b)(iv)</option>
                                    <option value="924(18)(c)">924(18)(c)</option>
                                    <option value="924(18)(d)">924(18)(d)</option>
                                    <option value="924(18)(e)">924(18)(e)</option>
                                    <option value="924(18)(f)">924(18)(f)</option>
                                    <option value="924(19)">924(19)</option>
                                    <option value="924(20)">924(20)</option>
                                    </select>
                            </td>
                            <td>
                                <select name="pagename">
                                    <option value="Choose Page/Screen Reference" selected>Choose Page/Screen Reference</option>
                                    <option value="Screen 1">Screen 1</option>
                                    <option value="Screen 2">Screen 2</option>
                                    <option value="Screen 3">Screen 3</option>
                                    <option value="Screen 4">Screen 4</option>
                                    <option value="Screen 5">Screen 5</option>
                                    <option value="Screen 6">Screen 6</option>
                                    <option value="Screen 7">Screen 7</option>
                                    <option value="Screen 8">Screen 8</option>
                                    <option value="Screen 9">Screen 9</option>
                                    <option value="Screen 10">Screen 10</option>
                                    <option value="Screen 11">Screen 11</option>
                                    <option value="Screen 12">Screen 12</option>
                                    <option value="Screen 13">Screen 13</option>
                                    <option value="Screen 14">Screen 14</option>
                                    <option value="Screen 15">Screen 15</option>
                                    <option value="Screen 16">Screen 16</option>
                                    <option value="Screen 17">Screen 17</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
   <button value="Submit" class="tertiary" title="+ Add New Rule">+ Add New Rule</button>
                <label for="Operator Comments">Operator Comments</label>
                <textarea id="" placeholder="Provide Comments if necessary..."></textarea>
                <br />
                <button value="Submit" title="Deficiency" class="ShowComments CommentsButton Primary">Deficiency ▼</button>
                <div class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
            </div>
            <h3 class="iconswitch"><span class="comply"></span>925 Disposal of Underground Development Waste: Valley Fill</h3>
            <div>
                <input type="checkbox" title="Compliance" name="Compliance" checked aria-checked="true" />&nbsp;I agree to comply with the requirements of this section.
            <br />
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Rule</th>
                            <th>Location of Rule Complied with</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="Rule">
                                    <option value="Choose Rule" selected>Choose Rule</option>
                                    <option value="Entire Section">Entire Section</option>
                                    <option value="925(1)">925(1)</option>
                                    <option value="925(2)">925(2)</option>
                                    <option value="925(3)">925(3)</option>
                                    <option value="925(3)(a)">925(3)(a)</option>
                                    <option value="925(3)(b)">925(3)(b)</option>
                                    <option value="925(3)(c)">925(3)(c)</option>
                                    <option value="925(3)(d)">925(3)(d)</option>
                                    <option value="925(4)">925(4)</option>
                                    <option value="925(5)">925(5)</option>
                                </select>
                            </td>
                            <td>
                                <select name="pagename">
                                    <option value="Choose Page/Screen Reference" selected>Choose Page/Screen Reference</option>
                                    <option value="Screen 1">Screen 1</option>
                                    <option value="Screen 2">Screen 2</option>
                                    <option value="Screen 3">Screen 3</option>
                                    <option value="Screen 4">Screen 4</option>
                                    <option value="Screen 5">Screen 5</option>
                                    <option value="Screen 6">Screen 6</option>
                                    <option value="Screen 7">Screen 7</option>
                                    <option value="Screen 8">Screen 8</option>
                                    <option value="Screen 9">Screen 9</option>
                                    <option value="Screen 10">Screen 10</option>
                                    <option value="Screen 11">Screen 11</option>
                                    <option value="Screen 12">Screen 12</option>
                                    <option value="Screen 13">Screen 13</option>
                                    <option value="Screen 14">Screen 14</option>
                                    <option value="Screen 15">Screen 15</option>
                                    <option value="Screen 16">Screen 16</option>
                                    <option value="Screen 17">Screen 17</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
   <button value="Submit" class="tertiary" title="+ Add New Rule">+ Add New Rule</button>
                <label for="Operator Comments">Operator Comments</label>
                <textarea id="" placeholder="Provide Comments if necessary..."></textarea>
                <br />
                <button value="Submit" title="Deficiency" class="ShowComments CommentsButton Primary">Deficiency ▼</button>
                <div class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
            </div>
            <h3 class="iconswitch"><span class="comply"></span>926 Disposal of Underground Development Waste: Head-Of-Hollow Fill</h3>
            <div>
                <input type="checkbox" title="Compliance" name="Compliance" checked aria-checked="true" />&nbsp;I agree to comply with the requirements of this section.
            <br />
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Rule</th>
                            <th>Location of Rule Complied with</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="Rule">
                                    <option value="Choose Rule" selected>Choose Rule</option>
                                    <option value="Entire Section">Entire Section</option>
                                    <option value="926(1)">926(1)</option>
                                    <option value="926(2)">926(2)</option>
                                </select>
                            </td>
                            <td>
                                <select name="pagename">
                                    <option value="Choose Page/Screen Reference" selected>Choose Page/Screen Reference</option>
                                    <option value="Screen 1">Screen 1</option>
                                    <option value="Screen 2">Screen 2</option>
                                    <option value="Screen 3">Screen 3</option>
                                    <option value="Screen 4">Screen 4</option>
                                    <option value="Screen 5">Screen 5</option>
                                    <option value="Screen 6">Screen 6</option>
                                    <option value="Screen 7">Screen 7</option>
                                    <option value="Screen 8">Screen 8</option>
                                    <option value="Screen 9">Screen 9</option>
                                    <option value="Screen 10">Screen 10</option>
                                    <option value="Screen 11">Screen 11</option>
                                    <option value="Screen 12">Screen 12</option>
                                    <option value="Screen 13">Screen 13</option>
                                    <option value="Screen 14">Screen 14</option>
                                    <option value="Screen 15">Screen 15</option>
                                    <option value="Screen 16">Screen 16</option>
                                    <option value="Screen 17">Screen 17</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                  <button value="Submit" class="tertiary" title="+ Add New Rule">+ Add New Rule</button>
                <label for="Operator Comments">Operator Comments</label>
                <textarea id="" placeholder="Provide Comments if necessary..."></textarea>
                <br />
                <button value="Submit" title="Deficiency" class="ShowComments CommentsButton Primary">Deficiency ▼</button>
                <div class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
            </div>
            <h3 class="iconswitch"><span class="comply"></span>927 Disposal of Underground Development Waste: Durable Rock Fills</h3>
            <div>
                <input type="checkbox" title="Compliance" name="Compliance" checked aria-checked="true" />&nbsp;I agree to comply with the requirements of this section.
            <br />
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Rule</th>
                            <th>Location of Rule Complied with</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="Rule">
                                    <option value="Choose Rule" selected>Choose Rule</option>
                                    <option value="Entire Section">Entire Section</option>
                                    <option value="927(1)">927(1)</option>
                                    <option value="927(1)(a)">927(1)(a)</option>
                                    <option value="927(1)(b)">927(1)(b)</option>
                                    <option value="927(2)">927(2)</option>
                                    <option value="927(2)(a)">927(2)(a)</option>
                                    <option value="927(2)(b)">927(2)(b)</option>
                                    <option value="927(3)">927(3)</option>
                                    <option value="927(3)(a)">927(3)(a)</option>
                                    <option value="927(3)(b)">927(3)(b)</option>
                                    <option value="927(3)(c)">927(3)(c)</option>
                                    <option value="927(4)">927(4)</option>
                                    <option value="927(5)">927(5)</option>
                                    <option value="927(6)">927(6)</option>
                                    <option value="927(7)">927(7)</option>
                                    <option value="927(7)(a)">927(7)(a)</option>
                                    <option value="927(7)(b)">927(7)(b)</option>
                                    <option value="927(7)(c)">927(7)(c)</option>
                                </select>
                            </td>
                            <td>
                                <select name="pagename">
                                    <option value="Choose Page/Screen Reference" selected>Choose Page/Screen Reference</option>
                                    <option value="Screen 1">Screen 1</option>
                                    <option value="Screen 2">Screen 2</option>
                                    <option value="Screen 3">Screen 3</option>
                                    <option value="Screen 4">Screen 4</option>
                                    <option value="Screen 5">Screen 5</option>
                                    <option value="Screen 6">Screen 6</option>
                                    <option value="Screen 7">Screen 7</option>
                                    <option value="Screen 8">Screen 8</option>
                                    <option value="Screen 9">Screen 9</option>
                                    <option value="Screen 10">Screen 10</option>
                                    <option value="Screen 11">Screen 11</option>
                                    <option value="Screen 12">Screen 12</option>
                                    <option value="Screen 13">Screen 13</option>
                                    <option value="Screen 14">Screen 14</option>
                                    <option value="Screen 15">Screen 15</option>
                                    <option value="Screen 16">Screen 16</option>
                                    <option value="Screen 17">Screen 17</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
   <button value="Submit" class="tertiary" title="+ Add New Rule">+ Add New Rule</button>
                <label for="Operator Comments">Operator Comments</label>
                <textarea id="" placeholder="Provide Comments if necessary..."></textarea>
                <br />
                <button value="Submit" title="Deficiency" class="ShowComments CommentsButton Primary">Deficiency ▼</button>
                <div class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
            </div>
            <h3 class="iconswitch"><span class="comply"></span>930 Placement and Disposal of Coal Processing Waste: Special Application Requirements</h3>
            <div>
                <input type="checkbox" title="Compliance" name="Compliance" checked aria-checked="true" />&nbsp;I agree to comply with the requirements of this section.
            <br />
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Rule</th>
                            <th>Location of Rule Complied with</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="Rule">
                                    <option value="Choose Rule" selected>Choose Rule</option>
                                    <option value="Entire Section">Entire Section</option>
                                    <option value="930(1)">930(1)</option>
                                    <option value="930(2)">930(2)</option>
                                    <option value="930(2)(a)">930(2)(a)</option>
                                    <option value="930(2)(a)(i)">930(2)(a)(i)</option>
                                    <option value="930(2)(a)(ii)">930(2)(a)(ii)</option>
                                    <option value="930(2)(a)(iii)">930(2)(a)(iii)</option>
                                    <option value="930(2)(a)(iv)">930(2)(a)(iv)</option>
                                    <option value="930(2)(a)(v)">930(2)(a)(v)</option>
                                    <option value="930(2)(b)">930(2)(b)</option>
                                    <option value="930(3)">930(3)</option>
                                    <option value="930(3)(a)">930(3)(a)</option>
                                    <option value="930(3)(b)">930(3)(b)</option>
                                    <option value="930(3)(c)">930(3)(c)</option>
                                    <option value="930(3)(c)(i)">930(3)(c)(i)</option>
                                    <option value="930(3)(c)(ii)">930(3)(c)(ii)</option>
                                    <option value="930(3)(c)(iii)">930(3)(c)(iii)</option>
                                    <option value="930(3)(c)(iv)">930(3)(c)(iv)</option>
                                    <option value="930(3)(d)">930(3)(d)</option>
                                    <option value="930(3)(d)(i)">930(3)(d)(i)</option>
                                    <option value="930(3)(d)(ii)">930(3)(d)(ii)</option>
                                </select>
                            </td>
                            <td>
                                <select name="pagename">
                                    <option value="Choose Page/Screen Reference" selected>Choose Page/Screen Reference</option>
                                    <option value="Screen 1">Screen 1</option>
                                    <option value="Screen 2">Screen 2</option>
                                    <option value="Screen 3">Screen 3</option>
                                    <option value="Screen 4">Screen 4</option>
                                    <option value="Screen 5">Screen 5</option>
                                    <option value="Screen 6">Screen 6</option>
                                    <option value="Screen 7">Screen 7</option>
                                    <option value="Screen 8">Screen 8</option>
                                    <option value="Screen 9">Screen 9</option>
                                    <option value="Screen 10">Screen 10</option>
                                    <option value="Screen 11">Screen 11</option>
                                    <option value="Screen 12">Screen 12</option>
                                    <option value="Screen 13">Screen 13</option>
                                    <option value="Screen 14">Screen 14</option>
                                    <option value="Screen 15">Screen 15</option>
                                    <option value="Screen 16">Screen 16</option>
                                    <option value="Screen 17">Screen 17</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                    </table>
   <button value="Submit" class="tertiary" title="+ Add New Rule">+ Add New Rule</button>
                <label for="Operator Comments">Operator Comments</label>
                <textarea id="" placeholder="Provide Comments if necessary..."></textarea>
                <br />
                <button value="Submit" title="Deficiency" class="ShowComments CommentsButton Primary">Deficiency ▼</button>
                <div class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
            </div>
            <h3 class="iconswitch"><span class="comply"></span>932 Disposal of Coal Processing Waste</h3>
            <div>
                <input type="checkbox" title="Compliance" name="Compliance" checked aria-checked="true" />&nbsp;I agree to comply with the requirements of this section.
            <br />
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Rule</th>
                            <th>Location of Rule Complied with</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="Rule">
                                    <option value="Choose Rule" selected>Choose Rule</option>
                                    <option value="Entire Section">Entire Section</option>
                                    <option value="932(1)">932(1)</option>
                                    <option value="932(2)">932(2)</option>
                                    <option value="932(3)">932(3)</option>
                                    <option value="932(3)(a)">932(3)(a)</option>
                                    <option value="932(3)(b)">932(3)(b)</option>
                                    <option value="932(3)(c)">932(3)(c)</option>
                                    <option value="932(4)">932(4)</option>
                                    <option value="932(4)(a)">932(4)(a)</option>
                                    <option value="932(4)(b)">932(4)(b)</option>
                                    <option value="932(5)">932(5)</option>
                                    <option value="932(5)(a)">932(5)(a)</option>
                                    <option value="932(5)(b)">932(5)(b)</option>
                                    <option value="932(5)(c)">932(5)(c)</option>
                                    <option value="932(5)(d)">932(5)(d)</option>
                                    <option value="932(6)">932(6)</option>
                                    <option value="932(7)">932(7)</option>
                                    <option value="932(7)(a)">932(7)(a)</option>
                                    <option value="932(7)(b)">932(7)(b)</option>
                                    <option value="932(7)(c)">932(7)(c)</option>
                                    <option value="932(7)(d)">932(7)(d)</option>
                                    <option value="932(8)">932(8)</option>
                                    <option value="932(8)(a)">932(8)(a)</option>
                                    <option value="932(8)(a)(i)">932(8)(a)(i)</option>
                                    <option value="932(8)(a)(ii)">932(8)(a)(ii)</option>
                                    <option value="932(8)(b)">932(8)(b)</option>
                                    <option value="932(9)">932(9)</option>
                                    <option value="932(10)">932(10)</option>
                                </select>
                            </td>
                            <td>
                                <select name="pagename">
                                    <option value="Choose Page/Screen Reference" selected>Choose Page/Screen Reference</option>
                                    <option value="Screen 1">Screen 1</option>
                                    <option value="Screen 2">Screen 2</option>
                                    <option value="Screen 3">Screen 3</option>
                                    <option value="Screen 4">Screen 4</option>
                                    <option value="Screen 5">Screen 5</option>
                                    <option value="Screen 6">Screen 6</option>
                                    <option value="Screen 7">Screen 7</option>
                                    <option value="Screen 8">Screen 8</option>
                                    <option value="Screen 9">Screen 9</option>
                                    <option value="Screen 10">Screen 10</option>
                                    <option value="Screen 11">Screen 11</option>
                                    <option value="Screen 12">Screen 12</option>
                                    <option value="Screen 13">Screen 13</option>
                                    <option value="Screen 14">Screen 14</option>
                                    <option value="Screen 15">Screen 15</option>
                                    <option value="Screen 16">Screen 16</option>
                                    <option value="Screen 17">Screen 17</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
   <button value="Submit" class="tertiary" title="+ Add New Rule">+ Add New Rule</button>
                <label for="Operator Comments">Operator Comments</label>
                <textarea id="" placeholder="Provide Comments if necessary..."></textarea>
                <br />
                <button value="Submit" title="Deficiency" class="ShowComments CommentsButton Primary">Deficiency ▼</button>
                <div class="Comments" style="display: none;">@Html.Partial("Deficiency")</div>
            </div>
            </div>
        <br />
        <button class="primary" value="Submit" title="Save">SAVE</button>
        <button class="secondary" value="Submit" title="Save">Reset</button>
    </fieldset>
</article>

