@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<h1>Welcome to the DEQ ePermitting Portal for Coal and Uranium Mining</h1>
<p>The ePermitting Portal allows you to find and manage all the information you need to know about Coal Mine Permitting and Compliance.</p>
<article id="preview">
    <h3>REGISTER TO ACCESS MORE&hellip;</h3>
    <ul>
        <li>Search Documents</li>
        <li>Make Public Comment on an Application</li>
        <li>Check Status of Permitting Actions</li>
        <li>Learn to Keep in Compliance</li>
    </ul>
</article>
<aside id="login">    
    <h4>New User?</h4>
    <p>Register to access myCOAL</p>
    <button value="REGISTER" title="myCOAL / Registration Form" class="modal1 primary">REGISTER</button>
    <div class="dialogbox1" style="display: none;" title="Registration Form">
        @Html.Partial("Register")
    </div>
    <hr />
    <button value="LOGIN" title="myCOAL / ePass User Registration" class="modal2 secondary">LOGIN</button>
    <div class="dialogbox2" style="display: none;" title="ePass User Registration">
        @Html.Partial("ePassRegister")
    </div>
    <p>with ePass Montana</p>
</aside>


@*@model DEQMYCOAL.web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section>

<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
