@model DEQMYCOAL.web.ViewModels.SecurityVM
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
}

<h2>Security / User Management</h2>

<article>
    
    @if (User.IsInRole("owner"))
    {
        Html.RenderAction("UserTable");
    }

    @Html.Partial("SecurityPanel", Model)

</article>


<script type="text/javascript">

    var SecuritySettings = {
        SecurityPanelUrl: "@Url.Action("SecurityPanel", "Account")",
        NewPermitRegistrationUrl: "@Url.Action("NewPermitRegistration", "ePermit")",
        DeletePermitRegistration: "@Url.Action("DeletePermitRegistration", "ePermit")",
        MyPermitsCoordinatorPermitPanel: "@Url.Action("myPermitsCoordinatorPermitPanel", "Account")",
        UpdatePermitAccessCode: "@Url.Action("UpdatePermitAccessCode", "ePermit")",
        RequestPermitAccess: "@Url.Action("RequestPermitAccess", "ePermit")",
        MyInfoPanel: "@Url.Action("MyInfo", "Account")"
    };

</script>

<script type="text/javascript" src="@Url.Content("~/Scripts/SecurityManagement.js")"></script>