@model ePermitBLL.PermitAccessBO

<p>
    Permit Access Code: <input id="PermitAccessCode" name="PermitAccessCode" size="40" data-permit-access-code="@Model.PermitAccessCode" type="text" placeholder="Permit Access Code" value="@Model.PermitAccessCode" /> <button id="UpdatePermitAccessCode" class="primary" value="Update">Update</button>
</p>
<br />
<table id="PermitRegistrationTable">
    <thead>
        <tr>
            <th>User</th>
            <th>Read</th>
            <th>Edit</th>
            <th>Edit / Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.PermitRegistration)
        {
            <tr data-permit-registration-id="@user.PermitRegistration.PermitRegistrationID">
                <td>@user.UserName</td>
                <td><input disabled="disabled" type="checkbox" name="read" @if(user.PermitRegistration.Read){<text>checked="checked"</text>} /></td>
                <td><input disabled="disabled" type="checkbox" name="edit" @if(user.PermitRegistration.Edit){<text>checked="checked"</text>} /></td>
                <td>
                    @Html.AjaxDialogFormButton("Edit", "Edit Permit Permissions", "edit", Url.Action("EditPermitRegistration", "ePermit", new { PermitRegistrationId = user.PermitRegistration.PermitRegistrationID }), "PermissionsUpdated")
                    <button data-delete-permission="@user.PermitRegistration.PermitRegistrationID" class="delete coordinator" title="Delete">Delete</button>
                </td>
            </tr>
        }
        
    </tbody>
</table>