@model DEQMYCOAL.web.ViewModels.RegistrationVM

@{
    Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { novalidate="" }))
{
<article>
    
    <fieldset class="setapart">
        
        <legend>Register to Access myCOAL</legend>
        <p>New coal mining or prospecting operators, public users or partner agency users must register with the form below, before gaining access to the Montana DEQ ePermitting Portal. If registering as a representative of an existing coal mining or prospecting operation, please contact the company directly in order to be registered to use this site.</p>
        

        <label for="reason">Describe your reason for registering:</label>
        @Html.TextAreaFor(m => m.Registration.RegistrationDescription, new { @class = "commentstextarea" })
        @Html.ValidationMessageFor(m => m.Registration.RegistrationDescription)
        

        @Html.LabelFor(m => m.AccessRoles)
        @Html.DropDownListFor(m => m.Registration.AccessRoleID, Model.AccessRoles)
        @Html.ValidationMessageFor(m => m.Registration.AccessRoleID)
        
        <hr />
        
        
        <fieldset class="setapart"  style="float:left; width:45%;">
            <legend>Personal</legend>

            @Html.LabelFor(m => m.Registration.FirstName)
            @Html.TextBoxFor(m => m.Registration.FirstName)
            @Html.ValidationMessageFor(m => m.Registration.FirstName)
        
            @Html.LabelFor(m => m.Registration.LastName)
            @Html.TextBoxFor(m => m.Registration.LastName)
            @Html.ValidationMessageFor(m => m.Registration.LastName)
        
            @Html.LabelFor(m => m.Registration.Title)
            @Html.TextBoxFor(m => m.Registration.Title)
            @Html.ValidationMessageFor(m => m.Registration.Title)

            @Html.LabelFor(m => m.Registration.CompanyName)
            @Html.TextBoxFor(m => m.Registration.CompanyName, new { size = "30" })
            @Html.ValidationMessageFor(m => m.Registration.CompanyName)
        </fieldset>
        
        <fieldset class="setapart" style="float:right; width:45%;">
            <legend>Contact</legend>

            @Html.LabelFor(m => m.Registration.Address1)
            @Html.TextBoxFor(m => m.Registration.Address1)
            @Html.ValidationMessageFor(m => m.Registration.Address1)
            
            @Html.LabelFor(m => m.Registration.City)
            @Html.TextBoxFor(m => m.Registration.City)
            @Html.ValidationMessageFor(m => m.Registration.City)

            @Html.LabelFor(m => m.States)
            @Html.DropDownListFor(m => m.Registration.StateID, Model.States)
            @Html.ValidationMessageFor(m => m.Registration.StateID)

            @Html.LabelFor(m => m.Registration.Zipcode)
            @Html.TextBoxFor(m => m.Registration.Zipcode)
            @Html.ValidationMessageFor(m => m.Registration.Zipcode)

            <div class="PhoneEntry">
                <div>
                    @Html.LabelFor(m => m.Registration.CountryCode, new { @class = "tiny-text" })
                    @Html.TextBoxFor(m => m.Registration.CountryCode, new { size = "1", maxlength="3" })
                    @Html.ValidationMessageFor(m => m.Registration.CountryCode)
                </div>

                <div>
                    @Html.LabelFor(m => m.Registration.Phone, new { @class = "tiny-text" })
                    @Html.TextBoxFor(m => m.Registration.Phone, new { size = "14", maxlength="14" })
                    @Html.ValidationMessageFor(m => m.Registration.Phone)
                </div>

                <div>
                    @Html.LabelFor(m => m.Registration.PhoneExtension, new { @class = "tiny-text" })
                    @Html.TextBoxFor(m => m.Registration.PhoneExtension, new { size = "5", maxlength=5 })
                    @Html.ValidationMessageFor(m => m.Registration.PhoneExtension)
                </div>
            </div>
            <div style="clear:both;"></div>

            @Html.LabelFor(m => m.Registration.Email)
            @Html.TextBoxFor(m => m.Registration.Email)
            @Html.ValidationMessageFor(m => m.Registration.Email)

        </fieldset>

        <div style="clear:both;"></div>

        <input id="submit" type="submit" value="Submit" class="primary" />
        <input type="reset" value="Cancel" class="secondary" />

        <div class="ValidationMessages">
            @Html.ValidationSummary(true)
        </div>
    </fieldset>

    
</article>
}