@model IEnumerable<ePermitDAL.DO.dbo.RegistrationDO>
<div id="lookup-wrapper" style="top:0;">
    <input id="lookup" type="text" placeholder="Lookup by Name, Company&hellip;" name="q">
</div>

<h3>Registered Users</h3>

<table id="RegisteredUsersTable" class="tablesorter">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Company</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model){
        <tr id="@user.UserToken" class="@if(user.RegistrationID == DEQMYCOAL.web.Models.myCoalUser.GetInstance().RegistrationId){<text>rowSelected</text>}">
            <td>@user.FirstName @user.LastName</td>
            <td>@user.Email</td>
            <td>@user.CompanyName</td>
            <td>@user.RegistrationStatusID</td>
        </tr>
        }
    </tbody>
</table>
 